@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); 

:root {
  --primary-color: #174488;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}


/* base styles */
* {
  margin: 0;
  font-family: "Inter";
  color: rgb(26, 25, 25);
  background-color: #afa7a7;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
}
.navbar h1 {
  color:  var(--primary-color);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color:  var(--primary-color);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(182, 182, 182);
  color: white;
  text-align: center;
}